.pagination {
    display: flex;
    justify-content: center;
    margin-top: 8rem;

    @include breakpoint($mobile-bp) {
        margin-top: 5rem;
    }
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link {
    display: block;
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 10px rgba($black, 0.15);
    background-color: #0d0d0d;
    border-radius: 3px;
    text-align: center;
    line-height: 4rem;
    color: $white;
    font-size: 1.4rem;
    text-decoration: none;
    transition: background-color .2s linear;

    &:hover {
        background-color: lighten(#0d0d0d, 2%);
        text-decoration: none;
    }

    &.active {
        background-color: $blue;
        box-shadow: 0 0 10px rgba($blue, 0.15);
    }
}