.study {
    display: flex;

    @include breakpoint($mobile-bp) {
        flex-direction: column;
    }
}

.study__form {
    width: 34rem;

    @include breakpoint($mobile-bp) {
        order: 2;
    }
}

.study__avatar {
    flex-grow: 1;
    padding-left: 11rem;

    img {
        display: block;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-bottom: 1.5rem;
    }

    @include breakpoint($mobile-bp) {
        order: 1;
        padding-left: 0;
        margin-bottom: 2rem;
    }
}

.study__file {
    color: $blue;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;

    input {
        display: none;
    }

    &:hover {
        text-decoration: none;
    }
}