<div class="modal">
    <div class="modal__content">
        <button class="model__close" type="button">
            <img src="assets/images/icons/close.svg" alt="Закрыть">
        </button>
        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="assets/images/icons/share/facebook.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="assets/images/icons/share/twitter.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="assets/images/icons/share/vk.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="assets/images/icons/share/copy.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>