<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header-bg.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/avatar.jpg" alt="Аватар">
            <div class="profile__name">Антон Назаренко</div>
            <div class="profile__prof">блог front-end разработчика</div>
            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/icons/instagram.svg" alt="Антон Назаренко instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/icons/vk.svg" alt="Антон Назаренко Vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/icons/pinterest.svg" alt="Антон Назаренко Pinterest">
                    </a>
                </li>
            </ul>
            <div class="profile__text">Front-end разработчик. Практик верстки сайтов. Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.</div>
        </div>
    </div>
    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>